* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #43464B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding: 35px;
  background: #1abc9c;
  font-size:20px;
}

.headerMain {
  text-decoration: none;
  background: #1abc9c;
  color: white;
  text-align: left;
}

.headerLink {
  text-decoration: none;
  background: #1abc9c;
  color: white;
  text-align: right;
}

.linkStyle {
  text-decoration: none;
  background: #1abc9c;
  color: white;
  text-align: right;
  padding: 15px;
}

.product-avatar {
  justify-self: center;
  height: 12rem;
  padding: 1rem;
  width: auto;
}

.card {
  text-align: center;
  color: white;
  background: #43464B;
  border: rgb(0, 0, 0) solid 2px;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  border-radius: 5px;
}

.cardTitle {
  text-align: center;
  color: white;
  background-color: #1abc9c;
  border-bottom: rgb(0, 0, 0) solid 2px;
  border-radius: 5px;
  font-size:18px;
  padding-bottom: 1%;
}

button {
  position: relative;
  background-color: #1abc9c;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

.register-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: #43464B;
  border: rgb(0, 0, 0) solid 2px;
  width: 15rem;
  height: 15rem;
  display: inline-grid;
  margin: 1rem 2rem;
  border-radius: 5px;
}

.register-form {
  position: relative;
  top: -60%;
  padding-top: 90%;
  padding-left: 10%;
  padding-right: 10%;
}

#login-input {
  position: relative;
  top: 20%;
  padding: 3%;
  margin-bottom: 10%;
}

#submit {
  position: relative;
  top: 15%;
  background-color: #1abc9c;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

.login-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: #43464B;
  border: rgb(0, 0, 0) solid 2px;
  width: 15rem;
  height: 15rem;
  display: inline-grid;
  margin: 1rem 2rem;
  border-radius: 5px;
}

.login-form {
  position: relative;
  top: -60%;
  padding-top: 90%;
  padding-left: 10%;
  padding-right: 10%;
}

.cart-card {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: white;
  background: #43464B;
  border: rgb(0, 0, 0) solid 2px;
  width: 65rem;
  height: 35rem;
  display: inline-grid;
  margin: 1rem 2rem;
  border-radius: 5px;
}

.cart-card-title {
  text-align: center;
  position: relative;
  color: white;
  background-color: #1abc9c;
  border-bottom: rgb(0, 0, 0) solid 2px;
  border-radius: 5px;
  font-size:18px;
  padding-bottom: 1%;
  height: 2rem;
}